@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --poppins_regular: 400;
  --poppins_medium: 500;
  --poppins_semibold: 600;
  --poppins_bold: 700;
  --poppins_extrabold: 800;
  --colorOne: rgba(58, 58, 58, 1);
  --colorTwo: rgba(24, 25, 31, 1);
  --colorThree: rgba(0, 0, 0, 0.87);
  --colorFour: rgba(120, 120, 133, 1);
  --colorFive: rgba(10, 8, 38, 1);
  --colorSix: rgba(108, 108, 108, 1);
  --btnColor: rgba(224, 44, 109, 1);
  --lightColor: rgba(255, 255, 255, 1);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: var(--poppins_regular);
  font-size: 1rem;
  font-style: normal;
}

header,
main {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 20px;
  box-sizing: border-box;
}

.hide {
  display: none;
}

/* nav section styles started */
#navbar {
  max-width: 1200px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 15px;
}

#navbar h3 {
  color: var(--colorOne);
  font-size: 1.5rem;
  font-weight: var(--poppins_bold);
}

.main_menu {
  display: flex;
  text-align: center;
  justify-content: space-between;
  column-gap: 30px;
}

#navbar ul {
  display: flex;
}

#navbar ul li {
  list-style: none;
  margin-left: 30px;
}

#navbar ul li a {
  text-decoration: none;
  font-weight: var(--poppins_semibold);
  color: var(--colorOne);
}

.menu_icons {
  display: none;
}
/* nav section styles ended */

/* banner section styles started */
#banner_section {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 120px;
}

.banner_content {
  width: 50%;
}

.banner_content h1 {
  font-size: 3rem;
  font-weight: var(--poppins_bold);
  line-height: 135%;
  color: var(--colorOne);
}

.banner_content p {
  font-weight: var(--poppins_semibold);
  line-height: 150%;
  color: var(--colorOne);
  margin: 16px 0px;
}

.banner_content button {
  font-weight: var(--poppins_bold);
  color: var(--lightColor);
  padding: 15px 20px;
  border: 1px solid var(--btnColor);
  border-radius: 40px;
  background-color: var(--btnColor);
  transition: 0.3s;
  cursor: pointer;
}

.fa-arrow-right {
  margin-left: 5px;
}

.banner_content button:hover {
  background-color: var(--lightColor);
  color: var(--btnColor);
}

.banner_img {
  width: 50%;
  background-image: url("../images/Circle_design.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.banner_img img {
  width: 100%;
}
/* banner section styles ended */

/* sponsor section styles started */
#sponsor_section {
  max-width: 1110px;
  padding: 10px 0px;
  margin: 0 auto;
  margin-top: 70px;
  border: 1px solid;
  border-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0),
      rgba(139, 139, 139, 0.5),
      rgba(255, 255, 255, 0)
    )
    1;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.sponsor_img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}

.sponsor_img img {
  width: 80%;
}
/* sponsor section styles ended */

/* products section styles started */
#product_section {
  width: 1050px;
  margin: 0 auto;
  margin-top: 100px;
}

.product_title {
  text-align: center;
  font-size: 1.75rem;
  font-weight: var(--poppins_semibold);
  color: var(--colorOne);
}

.product_items {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
}

.product_card {
  width: 330px;
  height: 475px;
  padding: 14px;
  box-sizing: border-box;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
}
.product_card img {
  width: 100%;
}
.product_card h2 {
  font-weight: var(--poppins_medium);
  font-size: 1.75rem;
  line-height: 143%;
  color: var(--colorTwo);
}
.product_card h4 {
  font-size: 1.5rem;
  line-height: 150%;
  color: var(--colorThree);
}
.product_card p {
  font-weight: var(--poppins_bold);
  font-size: 0.875rem;
  line-height: 143%;
  letter-spacing: 0.02em;
  color: var(--colorFour);
}

.stars {
  display: flex;
  align-items: center;
  font-size: 1rem;
  margin-bottom: 10px;
}
.stars > p {
  margin-left: 15px;
  font-size: 1.2rem;
}

.checked {
  color: var(--btnColor);
}

.see_more {
  margin-top: 50px;
  font-weight: var(--poppins_bold);
  color: var(--btnColor);
  text-align: right;
  cursor: pointer;
}
/* products section styles ended */

/* Featured product styles started */
#featured_product {
  max-width: 1110px;
  margin: 0 auto;
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  column-gap: 95px;
}
.featured_img img {
  width: 100%;
}
#featured_product h2 {
  font-weight: var(--poppins_bold);
  font-size: 2.375rem;
  line-height: 158%;
  color: var(--colorFive);
}
#featured_product p {
  font-weight: var(--poppins_bold);
  font-size: 1rem;
  line-height: 175%;
  color: var(--colorSix);
  margin: 16px 0px;
}
#featured_product button {
  font-weight: var(--poppins_bold);
  color: var(--lightColor);
  padding: 15px 20px;
  border: 1px solid var(--btnColor);
  background-color: var(--btnColor);
  transition: 0.3s;
  cursor: pointer;
}
#featured_product button:hover {
  background-color: var(--lightColor);
  color: var(--btnColor);
}
/* Featured product styles ended */

/* footer section styles started */
#footer_section {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 50px 20px;
  margin-top: 100px;
  background-color: rgba(10, 8, 38, 1);
  color: var(--lightColor);
  text-align: center;
}

#footer_section h3 {
  font-size: 1.5rem;
  font-weight: var(--poppins_bold);
  margin-bottom: 5px;
}

#footer_section p {
  font-size: 0.875rem;
  font-weight: var(--poppins_bold);
  margin-bottom: 5px;
  color: rgb(217, 219, 225);
}

.footer_icons {
  margin-top: 15px;
}
.footer_icons a {
  color: var(--lightColor);
  margin: 0 10px;
}

/* footer section styles ended */
/* Responsive styles */
@media screen and (max-width: 576px) {
  /* nav section */
  #navbar {
    max-width: 576px;
    height: 70px;
  }

  #navbar h3 {
    font-size: 1rem;
  }

  #navbar ul {
    display: none;
  }

  .menu_icons {
    display: flex;
  }

  /* banner section */
  #banner_section {
    width: 100%;
    row-gap: 15px;
    flex-direction: column-reverse;
  }

  .banner_content {
    width: 100%;
    text-align: center;
  }

  .banner_content h1 {
    font-size: 1.75rem;
  }

  .banner_content p {
    font-size: 0.875rem;
  }

  .banner_img {
    width: 257px;
    height: 257px;
  }

  /* sponsor section */
  #sponsor_section {
    grid-template-columns: repeat(4, 1fr);
  }

  /* products section */
  #product_section {
    width: 100%;
    margin-top: 50px;
  }

  .product_items {
    margin-top: 30px;
    grid-template-columns: 330px;
    justify-content: center;
    gap: 15px;
  }

  .see_more {
    margin-right: 10%;
  }

  /* featured product */
  #featured_product {
    width: 100%;
    margin-top: 50px;
    row-gap: 30px;
    grid-template-columns: 1fr;
    text-align: center;
  }
  .featured_img {
    order: 2;
  }
  .featured_content {
    order: 1;
  }

  #featured_product h2 {
    font-size: 1.5rem;
  }

  /* footer section */
  #footer_section {
    margin-top: 50px;
  }
}
