@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --poppins_regular: 400;
  --poppins_medium: 500;
  --poppins_semibold: 600;
  --poppins_bold: 700;
  --poppins_extrabold: 800;
  --colorOne: rgba(58, 58, 58, 1);
  --colorTwo: rgba(24, 25, 31, 1);
  --colorThree: rgba(0, 0, 0, 0.87);
  --colorFour: rgba(120, 120, 133, 1);
  --colorFive: rgba(10, 8, 38, 1);
  --colorSix: rgba(108, 108, 108, 1);
  --btnColor: rgba(224, 44, 109, 1);
  --lightColor: rgba(255, 255, 255, 1);
}

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 20px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: var(--poppins_regular);
  font-size: 1rem;
  font-style: normal;
  border: 1px solid rebeccapurple;
}

.hide {
  display: none;
}

/* nav section styles started */
#navbar {
  max-width: 1200px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 15px;
}

#navbar h3 {
  color: var(--colorOne);
  font-size: 1.5rem;
  font-weight: var(--poppins_bold);
}

.main_menu {
  display: flex;
  text-align: center;
  justify-content: space-between;
  column-gap: 30px;
}

#navbar ul {
  display: flex;
}

#navbar ul li {
  list-style: none;
  margin-left: 30px;
}

#navbar ul li a {
  text-decoration: none;
  font-weight: var(--poppins_semibold);
  color: var(--colorOne);
}

.menu_icons {
  display: none;
}
/* nav section styles ended */

/* banner section styles started */
#banner_section {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 120px;
}

.banner_content {
  width: 50%;
}

.banner_content h1 {
  font-size: 3rem;
  font-weight: var(--poppins_bold);
  line-height: 135%;
  color: var(--colorOne);
}

.banner_content p {
  font-weight: var(--poppins_semibold);
  line-height: 150%;
  color: var(--colorOne);
  margin: 16px 0px;
}

.banner_content button {
  font-weight: var(--poppins_bold);
  color: var(--lightColor);
  padding: 10px 20px;
  border: 1px solid var(--btnColor);
  border-radius: 40px;
  background-color: var(--btnColor);
  transition: 0.3s;
}

.fa-arrow-right {
  margin-left: 5px;
}

.banner_content button:hover {
  background-color: var(--lightColor);
  color: var(--btnColor);
}

.banner_img {
  width: 50%;
  background-image: url(../images/Circle_design.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.banner_img img {
  width: 100%;
}

/* banner section styles ended */

/* Responsive styles */
@media screen and (max-width: 576px) {
  /* nav section */
  #navbar {
    max-width: 576px;
    height: 70px;
  }

  #navbar h3 {
    font-size: 1rem;
  }

  #navbar ul {
    display: none;
  }

  .menu_icons {
    display: flex;
  }

  /* banner section */
  #banner_section {
    width: 100%;
    row-gap: 15px;
    flex-direction: column-reverse;
  }

  .banner_content {
    width: 100%;
    text-align: center;
  }

  .banner_content h1 {
    font-size: 1.75rem;
  }

  .banner_content p {
    font-size: 0.875rem;
  }

  .banner_img {
    width: 257px;
    height: 257px;
    background-size: cover;
  }

}
